<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
    <title>Gimnasio Mega Rocket SA</title>
</head>
<body class="flex-column">
    <header>
        <p>Mega Rocket SA</p>
    </header> 
    <main>
        <a><img id="row-back" src="../../Assets/Images/row.png" alt="back"></a>
        <h1>Log In</h1>
        <a><img id="rrlogo" src="../../Assets/Images/LOGO-RR 3.png" alt="LOGO-RR"></a>
        <form class="login-form" id="form-alert">
            <label for="email">Email</label>
            <input id="email" type="text">
            <p class="error none">error email</p>
            <label for="password">Password</label>
            <input id="password"  type="text">
            <p class="error none">error password</p>
            <section class="recover">
                <section>
                    <input id="remember-me" type="radio">
                    <label for="remember-me">Remember me</label>
                </section>
                <a href="#">Forgot password?</a>
            </section>
            <button class="button-form">Continue</button>
            <h2>Are you new here?<a href="./sign-up.html">Register</a></h2>
        </form>
    </main> 
</body>
</html>