<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="../js/sign-up.js"></script>
    <title>Gimnasio Mega Rocket SA</title>
  </head>
  <body>
    <header>
      <p>Mega Rocket SA</p>
    </header>
    <main>
      <h1>Register</h1>
      <a
        ><img id="rrlogo" src="../../Assets/Images/LOGO-RR 3.png" alt="LOGO-RR"/>
    | </a>
      <form class="register-form">
        <label for="name">Name</label>
        <input id="name" type="text" />
        <label for="last-name">Last name</label>
        <input id="last-name" type="text" />
        <label for="dni">dni</label>
        <input id="dni" type="text" />
        <label for="birth">Birth date</label>
        <input id="birth" type="text" />
        <label for="phone-number">Phone number</label>
        <input id="phone-number" type="text" />
        <label for="adress">Adress</label>
        <input id="adress" type="text" />
        <label for="zip">Zip code</label>
        <input id="zip" type="text" />
        <label for="city">City</label>
        <input id="city" type="text" />
        <label for="email">Email</label>
        <input id="email" type="text" />
        <label for="password">Password</label>
        <input id="password" type="text" />
        <label for="confirm">Confirm password</label>
        <input id="confirm" type="text" />
        <button class="">Continue</button>
        <a href="./login.html"><button class="">Log in</button></a>
      </form>
    </main>
  </body>
</html>
