header{
    position: inherit;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: none;
}

#row-back{
    margin-left: 700px;
    margin-top: 10px;
    position: fixed;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

.button-registration{
    background-color: #AACE9B;
    gap: 10px;
    font-size: 16px;
    border: 2px;
    height: 33px;
    width: 30%;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 16.41px;
    margin-top: 5px;
    max-height: 70%;
    background-color: #FFFFFF;
    width: 926px;
    height: 897px;
    box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.5);
    border-radius: 39px;
}

#fill-registration{
    display: flex;
    flex-wrap: wrap;   
}

.red-border{
    border-color: rgb(255, 0, 0);
} 

.none{
    display: none;
}
