header{
    position: inherit;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: none;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}